<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NBA Player Stats Comparer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class = "header">
            <h1>NBA Stats Comparer</h1>
        </div>

        <form id="urlForm" class="form">
            <div class="title">Welcome!</div>
            <div class="subtitle">Find the URLs of the players you wish to compare from https://www.basketball-reference.com/</div>

            <div class="input-container">
                <input type="text" id="urlInput1" name="url1" class="input" placeholder="Enter URL 1:"required>
            </div>

            <div class="input-container">
                <input type="text" id="urlInput2" name="url2" class="input" placeholder="Enter URL 2:"required>
            </div>
        
            <button type="submit" class="submit">Compare Stats</button>
        </form>
    
        <div id="statsContainer"></div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>